@media (max-width:1635px) 
{
    .only
{
    position: fixed;
    right: 150px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
}
}

@media (max-width:1400px) 
{
    .only
    {
        position: fixed;
        right: 50px;
        bottom: 80px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: yellow;
    }
}
@media (max-width:1200px) 
{
    .only
    {
        position: fixed;
        right: 20px;
        bottom: 80px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: yellow;
    }
}


@media (max-width:1140px) 
{
    .logo
    {
     padding: 15px 0 0 20px;
    }

    .portfolio
    {
        display: flex;
        flex-wrap: wrap     ;
    }

    .portfolio_link_second
    {
        width: 265px;
        height: 250px;
        border: 1px solid yellow;
    }

    .C
    {
        padding: 0 20px;
    }

    .portfolio_link
    {
        border: 1px solid yellow;
        height: 250px;
    }

    .header_nav-list
    {
        gap: 15px;
        display: flex;
    }

    .lenguige
    {
        padding-left: 50px;
    }
    
}




@media (max-width:870px) 
{
    .header_nav-list
    {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.647);
        gap: 50px;
        transition: 0.5s;
        transform: translateX(100%);
    }

    .burger
    {
        display: block;
        padding:35px 20px 15px 20px;
    }


    .burger:hover ~ .header_nav-list
    {
        transform: translateX(0%);
        font-size: 20px;
        font-family: SR;
    }

    .course_link
    {
        opacity:1 ;
    }

    .section_curse h1
    {
        padding-bottom: 10px;
        border-bottom: 2px solid yellow;
    }

    .port_section
    {
        display: flex;
        flex-wrap: wrap;
    }

    .portfolio
    {
        display: flex;
        flex-wrap: wrap;
    }

    .header_content
        {
            padding: 0 60px;
        }

    .contact_one iframe
    {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
    }

    .info
    {
        padding-left: 50px;
    }

    .footer
    {
        display: none;
    }

    .portfolio_link_text
    {
        opacity: 1;
    }

    .portfolio_link_text_second
    {
        opacity: 1;
    }

    .contact_one iframe
    {
        width: 550px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
    }
    .form
    {
        max-width: 450px;
    }

    .contact_info
    {
        max-width: 450px;
    }

}

@media (max-width:600px)
{
    .header_content
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
    }
    
    .header_list
    {
        height: 65vh;
    }

} 

@media (max-width:520px) 

{
    .img img
    {
        height: 150px;
    }

        .header_content h1
        {
            font-size: 44px;
        }

        .header_content h3
        {
            font-size: 30px;
        }

        .header_content
        {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 40px;
        }

        .header_content p
        {
            width: 250px;
        }

        .course_link
        {
            padding: 20px;
        }
        .port_section
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .portfolio_link
        {
            height: 250px;
        }
       
        .contact_one iframe
        {
        width: 400px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        }

        .form
        {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        }

        .contact_info
    {
        max-width: 350px;
    }

    .contact_one
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


@media (max-width:380px) 
{
    .contact_one iframe
    {
        width: 250px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .form
    {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 250px;
    }

    .contact_info
    {
        max-width: 250px;
    }

    .img img
    {
        height: 150px;
    }
}

@media (max-width:320px)
{
    .header_content
        {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
        }

        .portfolio_content h1 {
            color: yellow;
            font-size: 54px;
            margin-bottom: 30px;
            font-family: SI;
            text-align: center;
        }

        .mail
        {
            display: flex;
            flex-wrap: wrap;
        }
} 
