@import url(fonts.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);


*
{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body
{
    background: #050505;
}

.container
{
    max-width: 1140px;
    margin: 0 auto;
}

/*HEADER*/

.logo
{
    padding: 10px 0;
}

.liner
{
    width: 1px;
    height: 10px;
    background: white;
}

.logo img
{
    height: 65px;
}

.header_nav_one
{
    background: black;
}

.header_nav
{
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
}

.header_nav-list
{
    align-items: center;
    display: flex;
    gap: 55px;

}

.header_list
{
    background-color: #050505;
}

.header_nav-list-link:hover
{
    padding-bottom: 5px;
    border-bottom: 1px solid yellow;        
    color: yellow;
}

.lenguige a:hover
{
    padding-bottom: 5px;
    border-bottom: 1px solid yellow;        
    color: yellow;
}

.header_nav-list-link
{
    color: white;
    transition: 0.5s;
}

.lenguige 
{
    display: flex;
    gap: 15px;
    align-items: center;
}

.lenguige a
{
    font-family: SR;
    color: white;
    transition: 0.5s;
}

.burger
{
    color: white;
    display: none;
    font-size: 30px;
}

.header_content h1
{
    color: rgb(0, 0, 0);
    font-family: SI;
    font-size: 46px;
}

.header_content
{
    background-color: rgba(255, 255, 0, 0.521);
    padding: 50px;
    text-align: center;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

